- comments.each do |comment|
  - unless comment.id.nil?
    %li.user-comment-index
      .user-comment-index__img
        =image_tag('zenigame')
      .user-comment-index__body
        .user-comment-index__body--name
          = link_to "#{comment.user.nickname}", user_path(comment.user.id) 
        .user-comment-index__body--text
          = comment.body
        .user-comment-option-nest
          .user-comment-option
            .user-comment-option__reply
              =icon('fas','reply')
            .user-comment-option__like
              =icon('far', 'heart')
          -# - if comment.user == current_user
          -#   = link_to "delete", content_comment_path(comment.content_id, comment.id), method: :delete, remote: true, class:"user-comment-delete"