.demo-contents{
  width: 590px;
  margin: 0 auto;

  &__title{
    text-align: center;
    margin: 45px 0 10px 0;
    font-weight: bold;
    font-size: 25px;
    color: #333;
  }
  &__main{
    width: 100%;
    
    position: relative;
    margin: 0 auto;

    border: 1px solid #e5e3de;
    margin-top: 20px;
  }
}

.creator-contents-number{
  margin: 50px auto 20px auto;
}