.user-goal{
  border: 1px solid rgb(229, 227, 222);
  border-radius: 5px;
  height: 300px;
  width: 590px;
  margin: 40px auto;
  &__top{
    padding:10px 20px;
    border-bottom: 1px solid rgb(229, 227, 222);
    height: 30px;
    display: flex;
    justify-content: space-between;
    
    h1{
      line-height: 30px;
      font-weight: bold;
    }
    &--btn{
      line-height: 30px;
      text-decoration: none;
      color: rgb(112, 108, 101);
      border-bottom: 1px solid rgb(112, 108, 101);
    }
  }

  &__bottom{
    height: 80%;
    padding: 10px 20px;
  }
}

.goal-slick{

  &__status{

    &--number{
      margin-top: 10px;
      p{
        text-align-last: left;
        span{
          color: rgb(255, 111, 27);
          font-weight: bold;
        }
      }
    }
    &--gauge{ 
      margin       : 10px auto;
      width        : 100%;
      height       : 8px;
      border-radius: 10px;
      background-color: rgb(255, 194, 27);
      
    }
  }

  &__text{
    height: 100%;
    padding: 20px 0;
    p{
      text-align-last: left;
    }
  }
}
.user-goal__top{
  
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.fa-chevron-right{
  margin-right: 10px;
  color :rgb(112, 108, 101);
}
.fa-chevron-left{
  color :rgb(112, 108, 101);
}