.creator-contents-number{
  width: 390px;
  display: block;
  margin: 20px auto 20px auto;
  color: #ffc21b;
  text-decoration: none;
  background-color: #fff1ca;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  font-size: 20px;
}