.creator-page-bar
  %ul.creator-page-bar__list
    %li.creator-page-bar__list--work
      = link_to "Works", "#"
    %li.creator-page-bar__list--shop
      = link_to "Product", "#"
    %li.creator-page-bar__list--plan
      = link_to "Plans", "#"

.creator-page-works
  .creator-page-works__main
    .creator-page-works__main--left
      
    .creator-page-works__main--right



