.creator-post-index{
  width: 570px;
  height: 100%;
  margin-left: 40px;
  &__main{
    border: 1px solid rgb(229, 227, 222);
    border-radius: 6px;
    margin-top: 20px;
    
    &--image{
      display: inline-block;
      box-sizing: border-box;
      img{
        border-radius: 5px 5px 0 0;
        height: auto;
        width: auto;
        min-width: 569px;
        max-width: 569px;
        max-height: 700px;
        margin: auto;
      }
    }

    &--title{
      box-sizing: border-box;
      padding: 20px 20px 5px 20px;

      .creator-post-title{

        &__text{
          text-decoration: none;
          color: #333;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .creator-post-description{
        margin-top: 10px;
        margin-bottom: 10px;
        &__text{

        }
      }
      .creator-post-option{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;

        .creator-post-option__nest{

          &--destroy{
            margin-right: 15px;
            text-decoration: none;
            display: block;
            i{
              color: rgb(112, 108, 101);
            }
          }
        }
      }
    }
  }
}

.post-video-main{
  height: 100%;
  border: 1px solid rgb(229, 227, 222);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  

  &__image{
    display: inline-block;
    box-sizing: border-box;
    img{
      border-radius: 5px 5px 0 0;
      height: auto;
      width: auto;
      min-width: 569px;
      max-width: 569px;
      max-height: 700px;
      margin: auto;
    }
  }

  &__text{
    
    p{

    }
  }
}

.post-audio-main{
  height: 320px;
  border: 1px solid rgb(229, 227, 222);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;

  &__container{
    margin: 15px;
    display: flex;
    border: 1px solid rgb(247, 243, 236);
    border-radius: 6px;
    &--image{
      
      display: inline-block;
      box-sizing: border-box;
      margin-right: 15px;
      display: flex;
      img{
        border-radius: 5px 0 0 5px;
        height: auto;
        width: auto;
        min-width: 125px;
        max-width: 125px;
        max-height: 115px;
        min-height: 115px;
        margin: auto 0;
      }
    }

    &--play{
      width: 70%;
      padding: 39px 0 ;
      .audiojs{
        width: 89%;
        height: 36px;
        margin: auto;
        .play-pause{

        }
        .scrubber{
          width: 90px;
        }
        .time{
          width: 90px;
        }
      } 
    }
  }

  &__info{
    padding: 20px;
    &--title{

      h1{
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}