.tiers-top
  .tiers-top__head
    %h1.tiers-top__head--title
      Tiers
    %p.tiers-top__head--text
      Choose what to offer your patrons
  .tiers-top__main
    .tier-head
      %h1.tier-head__top
        Get started with a fully customizable tier starter kit for
      %p.tier-head__bottom
        The starter tiers below include the benefits your fans are most likely to love
    .tier-main

    .tier-bottom
      = link_to "Customize", new_tier_path ,class:"tier-bottom__link"
      = link_to "No thanks. I'll start from scratch", "#", class:"tier-bottom__help"
