- unless current_user.can_receive_payment?
  .stripe-connect
    %h4 You won't be able to create Perks until your register with Stripe
    = stripe_connect_button
- else
  %h4 Successfully connected to Stripe