.steps-category{
  border: 1px solid rgb(229, 227, 222);
  border-radius: 6px;
  width: 70%;
  height: 320px;
  margin: 50px auto;
  padding: 50px;
  &__head{

    &--top{
      
      h1{
        font-weight: 900;
        font-size: 18px;
      }
    }
  }

  &__wrapper{
    margin-top: 50px;

    .category-podcasts{
      margin-bottom: 30px;

      #creator_podcasts{

      }

      label{
        font-size: 17px;
        margin-left: 10px;
        text-align-last: left;
      }
    }

    .category-videos{
      @extend .category-podcasts;
    }

    .category-music{
      @extend .category-podcasts;
    }

    #category-submit-btn{
      background-color: rgb(29, 76, 125);
      display: block;
      text-decoration: none;
      border: none;
      color: white;
      padding: 5px 25px;
      border-radius: 30px;
      font-size: 15px;
      margin-top: 70px;
    }
  }
}