.outlooks-top
  .outlooks-top__left
    .outlooks-top__left--top
      %h1 CREATE ON YOUR OWN TERMS
    .outlooks-top__left--center
      %p Start a membership business to develop a direct relationship with your biggest fans and generate predictable, recurring revenue from your creative work.
    .outlooks-top__left--bottom
      = link_to "クリエイターになる", new_user_registration_path, class:"outlooks-top-link"
  .outlooks-top__right