.videos-new{
  padding: 0 30px;
}

.videos-new-wrapper{
  margin-top: 30px;
  padding: 20px;
  border: 1px solid rgb(229, 227, 222);
  border-radius: 6px;
  &__head{

    &--text{
      font-weight: bold;
      font-size: 14px;
      color: #333;

      i{
        color: #333;
      }
    }

    p{
      margin: 10px 0 ;
      color: #333;
      font-size: 14px;
    }
  }
}

