.video-container{
  width: 100%;
  height: 300px;
  padding: 40px;
  box-sizing: border-box;
  
  &__main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(245, 244, 242);
  }
  &__main::before {
    content: "";
    background-image: linear-gradient(to right, rgb(229,227,222), rgb(229,227,222) 15px, transparent 15px, transparent 20px),
    linear-gradient(to right, rgb(229,227,222), rgb(229,227,222) 15px, transparent 15px, transparent 20px),
    linear-gradient(to bottom, rgb(229,227,222), rgb(229,227,222) 15px, transparent 15px, transparent 20px),
    linear-gradient(to bottom, rgb(229,227,222), rgb(229,227,222) 15px, transparent 15px, transparent 20px);
    background-size: 20px 2px, 20px 2px, 2px 20px, 2px 20px;
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
}

#video-label{
  display: none;
}

.video-field-entire{
  width: 100%;
  height: 100%;
}

.video-url-container{
  padding: 20px 40px 40px 0;
  border-bottom: 1px solid rgb(229, 227, 222);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  &__link{
    width: 85%;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    &--icon{
      width: 100px;
      display: flex;
      justify-content: center;
      // -webkit-box-align: center;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 3rem;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background: rgb(245, 244, 242);
      border-width: 1px 1px 1px;
      border-style: solid none solid solid;
      border-color: rgb(229, 227, 221) rgb(229, 227, 221) rgb(229, 227, 221);
      i{
        -webkit-text-stroke: 0.1rem rgb(245, 244, 242);
        color: #333;
        font-size: 18px;
      }
    }
  }

}

#video_video_url{
  background: rgb(245, 244, 242);
  height: 46px;
  width: 500px;
  border: none;
  background: rgb(245, 244, 242);
  border-width: 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: rgb(229, 227, 221) rgb(229, 227, 221) rgb(229, 227, 221);
  
}