.user-about
  .user-about-wrapper
    %h1 About
    .appeal-zone
      - if @creator.image.present? || @creator.video.present?
        -if @creator.image
          .appeal-zone__content
            = image_tag(@creator.image.url)
        - else
          .appeal-zone__content
            = video_tag(@creator.video.url)
      -else
        .appeal-zone__content
          -# = image_tag('kaneda')
      - if @creator.description.present? 
        .appeal-zone__text
          %p
            = @creator.description


