.user-appeal
  .user-appeal__top
    %h1
      Become a patron to
  .user-appeal__bottom
    .user-appeal__bottom--left
      %span
        113
      %p
        Unlock 113 exclusive
        %br/
        posts
    .user-appeal__bottom--center
      = icon('far', 'grin-hearts')
      %p
        Be part of the
        %br/
        community
    .user-appeal__bottom--right
      = icon('far', 'comments')
      %p
        Connect via private
        %br/
        message