.user-contents__option
  .user-contents__option--search
    %form.search{:action => ""}
      .field
        %input#input-search.input-search{:name => "input-search", :required => "", :type => "text"}/
        %label{:for => "input-search"} Search

  .user-contents__option--sort
