.user-introduction
  .user-introduction__top
  .user-introduction__bottom
    = image_tag ('patreon1')
    .user-minute
      .user-minute__name
        %h1
          = @creator.creator_name
      .user-minute__type
        %p
          is creating
          -if podcasts_check(@creator)
            podcasts
          -if videos_check(@creator)
            videos
          -if music_check(@creator)
            music
    .user-patron-earn
      .user-patron-earn__left
        .user-patron-earn__left--number
          2,663
        .user-patron-earn__left--attention
          PATRONS
      .user-patron-earn__right
        .user-patron-earn__right--number
          $1,330
        .user-patron-earn__right--attention
          PER MONTH