.user-introduction
  .user-introduction__top
  .user-introduction__bottom
    = image_tag ('zenigame')
    .user-minute
      .user-minute__name
        %h1
      .user-minute__type
        %p
          is creating educational, inspirational and fun spaceflight content
    .user-patron-earn
      .user-patron-earn__left
        .user-patron-earn__left--number
          2,663
        .user-patron-earn__left--attention
          PATRONS
      .user-patron-earn__right
        .user-patron-earn__right--number
          $1,330
        .user-patron-earn__right--attention
          PER MONTH