#nav
  .user-nav
    .user-nav__left
      .user-nav__left--img
        = image_tag ('patreon1')
      .user-nav__left--name
        %h1
          = @creator.creator_name
    .user-nav__right
      = link_to "ファンになる", "#", class:"user-nav__right--link" 