.user-plan
  %ul.user-plan-wrapper
    %li.plan-section
      .plan-section__wrapper
        .plan-section__wrapper--name
          %h1 Technician
        .plan-section__wrapper--price
          %h1 $1
          %p PER MONTH
        .plan-section__wrapper--join-btn
          = link_to "Join", "#"
        .plan-section__wrapper--description
          %p
            Gain access to exclusive in person meet ups, especially those surrounding major spaceflight events. 
          %p
            Receive 10% off all items in the Everyday Astronaut store and gain access to behind the scenes photos and videos here on Patreon.
    %li.plan-section
      .plan-section__wrapper
        .plan-section__wrapper--name
          %h1 Payload Specialist
        .plan-section__wrapper--price
          %h1 $3
          %p PER MONTH
        .plan-section__wrapper--join-btn
          = link_to "Join", "#"
        .plan-section__wrapper--description
          %p
            Gain access to Patreon exclusive streams once a month where you can ask any questions and talk spaceflight
    %li.plan-section
      .plan-section__wrapper
        .plan-section__wrapper--name
          %h1 Mission Specialist
        .plan-section__wrapper--price
          %h1 $5
          %p PER MONTH
        .plan-section__wrapper--join-btn
          = link_to "Join", "#"
        .plan-section__wrapper--description
          %p
            You will gain access to the exclusive Everyday Astronaut discord channel where you can give your input to video scripts, help research, and hang out!
          %p
            Plus all previous rewards.
