%li
  .outlooks-glance-header-nav__search
    .outlooks-glance-header-nav__search--inner
      = form_tag('/creators/search', method: :get) do |f|
        = text_field_tag :name, :'', id: "incremental-creator-name", placeholder: "Find a creator"
    #creator-search-result
