.creator-show
  .creator-show__header

  .creator-show__wrapper
    .creator-info
      .creator-info__image
        = image_tag('default.jpg')
      .creator-info__name
        = @creator.creator_name
      .creator-info__exp
