.outlooks-glance-header-nav__search{
  position: relative;
  .incremental-creator-name{
    border-bottom: 1px solid rgb(229, 227, 222);
    height: 50px;
    width: 260px;
    background-color: #fff;
    display: flex;
    z-index: 1000000;

    img{
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin: 10px 9px 10px 9px;
    }

    a{  
      line-height: 50px;
      text-decoration: none;
      color: #333;
      font-weight: 400;
      .incremental-creator-name__text{
        font-size: 14px;
      }
    }
  }
  #incremental-creator-name::placeholder {
    font-size: 13px;
    font-weight: 500;
  } 
}

#creator-search-result{
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  margin: -15px 0 0 13px;
  li:last-child{
    
  }
}
.incremental-search-list{
  display:block;
  position:relative;
  z-index:9998;
}
