.outlooks-glance-header-nav__search{
  position: relative;
  .incremental-creator-name{
    position: absolute;
    left: 25px;
    top: 48px;
    border-bottom: 1px solid rgb(229, 227, 222);
    height: 50px;
    width: 240px;
    background-color: #fff;
    a{  
      text-decoration: none;
      color: black;
      font-weight: bold;
      .incremental-creator-name__text{
        
      }
    }
  }
}

