.outlooks-glance-header{
  font-family: 'SF Pro Display', Helvetica Neue, Arial, sans-serif;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(229, 227, 222);
  &__left{
    display: flex;

    &--icon{

      a{
        text-decoration: none;
        color: #333;
        margin-left: 30px;
        
        i{
          color: rgb(255, 187, 41);
          line-height: 60px;
          margin: auto;
          font-size: 35px;
        }
      }
    }
  }

  &__right{

    .outlooks-glance-header-nav{
      display: flex;
      color: rgb(53, 53, 53);
      
      &__login{
        
        line-height: 60px;
        margin-right: 30px;
        &--btn{
          text-decoration: none;
          color: rgb(53, 53, 53);
          font-weight: bold;
          font-size: 14px;
        }
      }
      &__logout{
        
        line-height: 60px;
        margin-right: 30px;
        &--btn{
          font-weight: bold;
          font-size: 14px;
          text-decoration: none;
          color: rgb(53, 53, 53);
        }
      }
    }
  }
}